*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 2.3rem;
}
p{
    font-size: 1.15rem;
    text-align: justify;
}

.clear{
    content: ' ';
    clear: both;
    display: table;
}

/* starts header */
header{
    background-color: #363958;
    padding: 1% 5%;
    text-align: right;
}

header a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
}
/* ends header */

/* starts welcome section */
.section{
    padding: 1% 5%;
    height: 600px;
    margin-bottom: 50px;
}
.fifty_fifty{
    width: 40%;
    padding: 1% 5%;
    float: left;
}
.left{
    margin-top: 50px;
}

#text_highlight{
    color: #399AF6;
    font-family: 'Permanent Marker', cursive;
}

#welcome p{
    margin-bottom: 30px;
}
.fifty_fifty a{
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(45deg, #F59560, #FAD262);
    color: white;
    border-radius: 5px;
}
.profile_img{
    width: 100%;
    height: auto;
}

/* ends welcome section */

/* starts about section */
#about p{
    margin-bottom: 20px;
}

/* ends about section */

/* starts project section */
.project_sect{
    background-color: rgb(228, 248, 230);
    height: 600px;
    padding: 0 6%;
}
.project_sect h2{
    text-align: center;
    padding: 30px 0;
}
#latest_highlight{
    color: #399AF6;
}
.one_third{
    width: 27%;
    height: 65%;
    text-align: center;
    padding: 1% 2%;
    margin: 0 1.1%;
    background-color: rgb(228, 248, 230);
    border-radius: 5px;
    box-shadow: 5px 5px 15px lightsteelblue;
    float: left;
}
.one_third img{
    width: 100%;
}
.one_third h3{
    margin: 10px 0;
    font-size: 1.3rem;
}

/* ends project section */

/* starts chat section */
.chat_sect{
    height: 300px;
    margin: 50px auto;
    background-image: url(images/bg_chat.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 70%;

}

.chat{
    float: left;
    width: 45%;
}
#left h1{
    font-size: 4rem;
    font-family: 'Bebas Neue', cursive;
    color: white;
    padding: 20% 0;
    margin-left: 60px;
}
#right {
    text-align: right;
    padding: 11% 0;
}
#right a{
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(45deg, #F59560, #FAD262);
    color: white;
    border-radius: 5px;
    
}

/* ends chat section */

/* starts contact section */
.contact_sect{
    height: 520px;
    background-color: rgb(159, 190, 202);
}

.contact_half{
    /* background-color: coral; */
        width: 35%;
        margin: 0 7%;
        float: left;
    }
form{
    padding: 5%;
}

input, textarea{
    width: 90%;
    padding: 8px;
    border: none;
    margin-bottom: 12px;
    border-radius: 5px;
}
textarea{
    resize: none;
}
button{
    padding: 10px 20px;
    background-image: linear-gradient(45deg, #F59560, #FAD262);
    color: white;
    border-radius: 5px;
    border: none;
}
/* ends contact section */

/* starts footer section */
footer{
    background-color: #363958;
    padding: 1% 5%;
    
}
footer p{
    color: lightslategray;
    text-align: center;
}
/* ends footer section */